  .highlight{color: red; } .bold {color: green}
  .logo { height: 80px;}
  .logo-text {color: #39a331; vertical-align:-webkit-baseline-middle;}
  .mid-panel { height:300px; color:white;}
  body{background-color:#f2f2f2;}